html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Regular.woff2') format('woff2');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-SemiBold.woff2') format('woff2');
    font-display: swap;
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Italic.woff2') format('woff2');
    font-display: swap;
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Bold.woff2') format('woff2');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

body {
    min-width: 320px;
    font-family: 'OpenSans', sans-serif;
    font-size: 16px;
    color: var(--color-grey);
}

:root {
    --color-light: #fff;
    --color-dark: #000;
    --color-grey: #666;
    --color-grey-dark: #333;
    --color-grey-light: #999;
    --color-grey-lighter: #cacaca;
    --color-primary: #9D5CD0;
    --color-primary-dark: #7943A4;
    --color-primary-light: #D1A9F0;
    --gap: 50px;
}

.list-reset {
    padding: 0;
    margin: 0;
    list-style: none;
}

.btn-reset {
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
}

.form-input {
    border: none;
    font-size: 16px;
    line-height: 32px;   
}

.title {
    margin: 0;
    font-weight: 400;
    font-size: 48px;
    line-height: 65px;
    color: var(--color-grey-dark);
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 2;
}

.header__nav-wrapper {
    background-color: var(--color-dark);
}

.header__burger {
    display: none;
}

.header__nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__menu {
    display: flex;
}

.nav__list {
    display: flex;
}

.nav__item {
    outline: none;
    border: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: var(--color-light);
    margin-right: 62px;
}

.nav__link {
    outline: none;
    border: none;
    transition: color .3s ease-in-out, background-color .3s ease-in-out;
}

.nav__link:focus {
    color: var(--color-light);
    background-color: var(--color-primary);
}

.nav__link:hover {
    color: var(--color-primary-light);
}

.nav__link:active {
    color: var(--color-primary-dark);
    background-color: transparent;
}

.nav__item:last-child {
    margin-right: 95px;
}

.header__logo {
    padding: 30px 0;
}

.header__in-icon {
    transition: fill .3s ease-in-out;
}

.header__btn {
    margin-left: 50px;
    outline: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: var(--color-light);
    transition: color .3s ease-in-out, background-color .3s ease-in-out;
}

.header__btn svg path {
    transition: fill .3s ease-in-out;
}

.header__btn:focus {
    color: var(--color-light);
    background-color: var(--color-primary);
}

.header__btn:focus svg path {
    fill: var(--color-light);
}

.header__btn:hover {
    color: var(--color-primary);
}

.header__btn:hover svg path {
    fill: var(--color-primary);
}

.header__btn:active {
    color: var(--color-primary-dark);
    background-color: transparent;
}

.header__btn:active svg path {
    fill: var(--color-primary-dark);
}

.header__style-wrapper {
    background-color: rgba(0, 0, 0, 0.4);

}

.header__style-container {
    display: flex;
    justify-content: space-between;
    padding: 23px 0;
}

.style__list {
    display: flex;
}

.style__item {
    margin-right: 96px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}

.header__search {
    margin-left: 10px;
    font-size: 18px;
    line-height: 25px;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-light);
    background-color: transparent;
    transition: border-color .3s ease-in-out;
}

.header__search:hover {
    border-color: var(--color-primary);
}

.header__search:focus {
    border-color: var(--color-primary-dark);
}

.header__seach-icon {
    display: inline-block;
    width: 22px;
    height: 22px;
    background-image: url('../img/seach-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.header__search-btn {
    display: none;
    width: 30px;
    height: 30px;
}

.header__select {
    font-size: 18px;
    line-height: 25px;
    outline: none;
    border: none;
    color: var(--color-light);
    background-color: transparent;
    transition: color .3s ease-in-out, background-color .3s ease-in-out;
}

.header__select:hover {
    color: var(--color-primary);
}

.header__select:focus {
    background-color: var(--color-primary);
}

.header__select:active {
    color: var(--color-primary-dark);
    background-color: transparent;
}

.header__menu {
    display: none;
    position: absolute;
    top: 175px;
    width: 300px;
    height: 300px;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.7);
}

.header__menu--position-2 {
    left: 18%;
}

.header__menu--position-3 {
    left: 31%;
}

.header__menu--position-4 {
    left: 47%;
}

.header__menu--position-5 {
    left: 57%;
}

.menu__item {
    position: relative;
    width: 220px;
    height: 40px;
    padding: 9px 14px;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: var(--color-light);
    background-repeat: no-repeat;
}

.menu__item:not(:last-child) {
    margin-bottom: 20px;
}

.menu__item::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    border: 2px solid transparent;
    background-color: var(--color-primary-light);
    transition: opacity .2s ease-in-out;
}

.menu__item:hover::before {
    opacity: 1;
    border: 2px solid var(--color-primary);
    background-color: transparent;
}

.menu__item:active::before {
    opacity: 0.4;
    border: 2px solid var(--color-primary);
    background-color: var(--color-primary-light);
}

.menu__item--tintoretto {
    background-image: url('../img/tintoretto.png');
}

.menu__item--fridrih {
    background-image: url('../img/fridrih.png');
}

.menu__item--leonardo {
    background-image: url('../img/leonardo.png');
}

.menu__item--verokye {
    background-image: url('../img/verokye.png');
}

.menu__item--mone {
    background-image: url('../img/mone.png');
}

.menu__item--sisley {
    background-image: url('../img/sisley.png');
}

.menu__item--mane {
    background-image: url('../img/mane.png');
}

.menu__item--renuar {
    background-image: url('../img/renuar.png');
}

.menu__item--vangog {
    background-image: url('../img/vangog.png');
}

.menu__item--sezann {
    background-image: url('../img/sezann.png');
}

.menu__item--gogen {
    background-image: url('../img/gogen.png');
}

.menu__item--sera {
    background-image: url('../img/sera.png');
}

.menu__item--kandinskiy {
    background-image: url('../img/kandinskiy.png');
}

.menu__item--marinetti {
    background-image: url('../img/marinetti.png');
}

.menu__item--malevich {
    background-image: url('../img/malevich.png');
}

.menu__item--picasso {
    background-image: url('../img/picasso.png');
}

.menu__item--karra {
    background-image: url('../img/karra.png');
}

.menu__item--pratella {
    background-image: url('../img/pratella.png');
}

.menu__item--severini {
    background-image: url('../img/severini.png');
}

.menu__item--balla {
    background-image: url('../img/balla.png');
}

.is-active {
    display: block;
}

.simplebar-scrollbar {
    width: 2px;
    background-color: var(--color-light);
}

.simplebar-track.simplebar-vertical {
    width: 2px;
    top: 40px;
    height: 220px;
}

.simplebar-track {
    right: 19px;
    background-color: var(--color-dark);
}

.hero__slide {
    background-repeat: no-repeat;
    background-size: cover;
}

.hero__slide--bg-fortress {
    background-image: url('../img/hero-bg-1.jpg');
}

.hero__slide--bg-holy {
    background-image: url('../img/hero-bg-2.jpg');
}

.hero__slide--bg-green {
    background-image: url('../img/hero-bg-3.jpg');
}

.hero {
    position: relative;
}

.hero__swiper {
    position: absolute;
    width: 100%;
    height: 100%;
}

.hero__content {
    position: relative;
    width: 37%;
    z-index: 1;
    padding-top: 233px;
    padding-bottom: 122px;
}

.hero__title {
    margin: 0;
    font-weight: 700;
    font-size: 72px;
    line-height: 88px;
    color: var(--color-light);
}

.hero__subtitle {
    margin-bottom: 88px;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    color: var(--color-light);
}

.hero__btn {
    padding: 23px 35px;
    outline: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    border: 3px solid transparent;
    border-radius: 100px;
    background-color: var(--color-primary);
    color: var(--color-light);
    transition: border-color .3s ease-in-out, background-color .3s ease-in-out;
}

.hero__btn:hover {
    border-color: var(--color-primary-light);
}

.hero__btn:focus {
    border-color: var(--color-primary-dark);
    background-color: var(--color-primary-dark);
}

.hero__btn:active {
    border-color: var(--color-primary-light);
    background-color: var(--color-primary-dark);
}

.about__container {
    padding-top: 80px;
    padding-bottom: 50px;
}

.about__descr {
    width: 68%;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}

.gallery__btn {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 22px;
    padding-bottom: 30px;
}



.gallery__pagination {
   width: 70px;
   text-align: center;
   font-size: 16px;
   line-height: 32px;
   color: var(--color-light);
}

.gallery-button-prev {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    border: 2px solid transparent;
    background-color: var(--color-grey);
    background-image: url('../img/gallery-prev-arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    transition: background-color .3s ease-in-out, border .1s ease-in-out;
}

.gallery-button-prev:hover {
    background-color: var(--color-primary);
}

.gallery-button-prev:active {
    border: 2px solid var(--color-dark);
    background-color: var(--color-primary-dark);
}

.gallery-button-next {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    background-color: var(--color-grey);
    background-image: url('../img/gallery-next-arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    transition: background-color .3s ease-in-out, border .1s ease-in-out;
}

.gallery-button-next:hover {
    background-color: var(--color-primary);
}

.gallery-button-next:active {
    border: 2px solid var(--color-dark);
    background-color: var(--color-primary-dark);
}

.gallery {
    background-image: url('../img/gallery-bg.jpg');
    background-repeat: no-repeat;
}

.gallery__container {
    padding-top: 80px;
    padding-bottom: 80px;
}

.gallery__content-wrapper {
    display: flex;
}

.gallery__swiper-wrapper {
    max-width: 1150px;
}

.gallery__title {
    margin-bottom: 20px;
    color: var(--color-light);
}

.gallery__slide {
    display: flex;
}

.gallery__slide {
    margin-right: 20px;
}

.gallery__filter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    margin-right: var(--gap);

}

.gallery__subtitle {
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    color: var(--color-light);
}

.gallery__select {
    width: 100%;
}

.choices__inner {
    border: 1px solid var(--color-light);
    border-radius: 10px;
    background-color: transparent;
    background-image: url('../img/gallery-choices.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 12px) center;
}

.is-open .choices__inner {
    border-radius: 10px;
}

.is-highlighted:hover {
    opacity: 0.5;
}

.choices__item {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--color-light);
}

.choices__list--dropdown {
    border-radius: 10px;
    background-color: transparent;
}

.choices[data-type*=select-one]:after {
    display: none;
}

.edition__check-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: var(--color-light);
}

.edition__check-input {
    appearance: none;
}

.edition__check-label {
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
    padding-left: 20px;
    transition: color .3s ease-in-out;
}



.edition__check-label:hover {
    color: var(--color-primary);
}

.edition__check-label:active {
    color: var(--color-primary-dark);
}

.edition__check-label:hover .edition__check-box  {
    border-color: var(--color-primary);
}

.edition__check-label:active .edition__check-box  {
    border-color: var(--color-primary-dark);
}

.edition__check-input + .edition__check-box {
    position: absolute;
    top: 5px;
    left: 0;
    width: 12px;
    height: 12px;
    outline: none;
    border: 1px solid var(--color-light);
    transition: border-color .3s ease-in-out, outline-color .3s ease-in-out;
}

.edition__check-input + .edition__check-box::before {
    content: "";
    position: absolute;
    bottom: 3px;
    right: 3px;
    width: 4px;
    height: 4px;
    background-color: var(--color-primary);
    border-radius: 100px;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.edition__check-input:checked + .edition__check-box::before {
    opacity: 1;
}

.edition__check-input:focus + .edition__check-box {
    outline: 1px solid var(--color-primary);
}


.edition__check-input:checked:focus + .edition__check-box::before {
    opacity: 1;
}

.catalog__container {
    padding-top: 80px;
    padding-bottom: 80px;
}

.catalog__title {
    margin-bottom: 16px;
    color: var(--color-grey-dark);

}

.catalog__descr {
    width: 69%;
    margin: 0;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}

.catalog__bottom-wrapper {
    display: flex; 
}

.catalog__dates {
    flex-basis: 50%;
}

.catalog__content {
    flex-basis: 50%;
}

.catalog__artist {
    flex-basis: 47%;
    margin-right: var(--gap);
}

.artist__title {
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: var(--color-grey-dark);
}

.artist__date {
    margin: 0;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: var(--color-grey-light);
}

.artist__link {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: var(--color-primary);
}

.artist__descr {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}

.dates__title {
    position: relative;
    margin: 0;
    padding: 41px 0;
    outline: none;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    cursor: pointer;
    border-top: 1px solid var(--color-grey-lighter);
    border-bottom: 1px solid transparent;
    transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.dates__icon {
    position: absolute;
    right: 0;
    bottom: 30%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid transparent;
    background-color: var(--color-grey-lighter);
    background-image: url('../img/dates-arrow.png');
    background-position: center;
    background-repeat: no-repeat;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out, border-color 0.1s ease-in-out, color .1s ease-in-out;
}

.dates__title:hover .dates__icon {
    border-color: var(--color-primary);
    background-color: var(--color-primary-light);
}

.ui-accordion-header-active .dates__icon {
    transform: rotate(180deg);
}

.dates__title--border {
    border-bottom: 1px solid var(--color-grey-lighter);
}

.dates__title:hover {
    border-color: var(--color-primary);
    color: var(--color-primary);
}

.dates__title:active {
    border-color: var(--color-primary-dark);
    color: var(--color-primary-dark);
}

.dates__list {
    margin-right: 60px;
    padding: 25px 0;
}

.dates__list--media-vision {
    display: none;
}

.dates__descr-wrapper {
    display: flex;
}

.dates__btn:hover {
    color: var(--color-primary);
    text-decoration: underline;
}

.dates__btn:active {
    background-color: var(--color-primary);
    color: var(--color-light);
}

.dates__painters:not(:last-child) {
    margin-bottom: 14px;
}

.tabs-item {
    display: none;
}

.tabs-item--active {
    display: inline-block;
    
}

.event__container {
    position: relative;
    padding-bottom: 40px;
}

.event__title {
    margin-bottom: 16px;
}

.event__slide {
    display: flex;
    height: auto;
    border: 1px solid var(--color-grey-light);
}

.event__item {
    display: flex;
    flex-direction: column;
}

.event__item-title {
    margin: 0;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: var(--color-grey-dark);
}

.event__content-wrapper {
    flex-grow: 1;
    padding: 13px 50px;
}

.event__link-wrapper {
    padding-left: 50px;
    padding-bottom: 48px;
}

.event__place {
    display: block;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: var(--color-grey-light);
}

.event__date {
    display: block;
    margin-bottom: 13px;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: var(--color-grey-light);
}

.event__descr {
    margin: 0;
    margin-bottom: 48px;
    line-height: 32px;
    color: var(--color-grey-dark);
}

.event__link {
    padding: 5px;
    outline: none;
    border-bottom: 1px solid var(--color-primary);
    font-size: 16px;
    line-height: 35px;
    color: var(--color-primary);
    transition: background-color .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
}

.event__link:focus {
    background-color: var(--color-primary);
    color: var(--color-light);
    border-color: var(--color-light);
}

.event__link:hover {
    background-color: transparent;
    color: var(--color-primary-dark);
    border-color: var(--color-primary-dark);
}

.event__link:active {
    background-color: transparent;
    color: var(--color-grey-dark);
    border-color: var(--color-grey-dark);
}

.event__button-prev {
    display: none;
}

.event__button-next {
    position: absolute;
    top: 52%;
    right: -25px;
    z-index: 2;
    width: 50px;
    height: 50px;
    outline: none;
    border-radius: 50%;
    border: 2px solid transparent;
    background-color: var(--color-grey-lighter);
    background-image: url('../img/event-arrow.png');
    background-position: center;
    background-repeat: no-repeat;
    transition: border-color .3s ease-in-out, background-color .3s ease-in-out;
}

.event__button-next:focus {
    border-color: var(--color-primary);
}

.event__button-next:hover {
    background-color: var(--color-primary-light);
}

.event__button-next:active {
    background-color: var(--color-primary-light);
    border-color: var(--color-primary);
}

.swiper-button-disabled {
    opacity: 0.6;
}

.event__pagination {
    display: none;
    text-align: center;
}

.project__container {
    padding-top: 40px;
}

.project__descr {
    width: 66%;
    line-height: 32px;
}

.project__link {
    padding: 5px;
    outline: none;
    border-bottom: 1px solid transparent;
    transition: background-color .3s ease-in-out, border-color .3s ease-in-out;
}

.project__link:focus {
    color: var(--color-light);
    background-color: var(--color-primary);
}

.project__link:hover {
    color: var(--color-primary);
    border-color: var(--color-primary);
}

.project__link:active {
    color: var(--color-primary-dark);
    border-color: var(--color-primary-dark);
    background-color: transparent;
}

.tippy-box {
    padding: 7px 11px;
    border-radius: inherit;
    background-color: var(--color-primary);
}

.tippy-content {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
}

.tippy-box[data-theme~='primary'] {
    background-color: var(--color-primary);
    color: var(--color-light)
}

.tippy-box[data-theme~='primary'][data-placement^='top'] > .tippy-arrow::before {
    border-top-color: var(--color-primary);
}

.tippy-box[data-theme~='primary'][data-placement^='bottom'] > .tippy-arrow::before {
    border-bottom-color: var(--color-primary);
}

.tippy-box[data-theme~='primary'][data-placement^='left'] > .tippy-arrow::before {
    border-left-color: var(--color-primary);
}

.tippy-box[data-theme~='primary'][data-placement^='right'] > .tippy-arrow::before {
    border-right-color: var(--color-primary);
}

.tooltip {
    outline: none;
    cursor: pointer;
    transition: fill .3s ease-in-out;
}

.tooltip:hover {
    fill: var(--color-primary-light);
}

.tooltip:focus {
    fill: var(--color-primary);
}

.project__swiper-title {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: var(--color-grey-dark);
}

.project__swiper {
    text-align: center;
}

.project__slide {
    cursor: pointer;
    filter: grayscale(100%); 
    transition: filter 0.5s ease-in-out;
}

.project__slide:hover {
    filter: grayscale(0); 
}

.project__container {
    position: relative;
    padding-bottom: 80px;
}

.project__swiper {
    padding: 0 30px;
}

.project__button-next {
    position: absolute;
    top: 40%;
    right: 0;
    z-index: 2;
    width: 30px;
    height: 30px;
    outline: none;
    border-radius: 100px;
    border: 2px solid transparent;
    background-color: var(--color-grey-lighter);
    background-image: url('../img/project-arrow-right.svg');
    background-repeat: no-repeat;
    background-position: center;
    transition: background-color .3s ease-in-out, border-color .3s ease-in-out;
}

.project__button-next:focus {
    border-color: var(--color-primary);
}

.project__button-next:hover {
    border-color: transparent;
    background-color: var(--color-primary-light);
}

.project__button-next:active {
    border-color: var(--color-primary);
    background-color: var(--color-primary-light);
}


.project__button-prev {
    position: absolute;
    top: 40%;
    left: 0;
    z-index: 2;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    outline: none;
    border: 2px solid transparent;
    background-color: var(--color-grey-lighter);
    background-image: url('../img/project-arrow-left.svg');
    background-repeat: no-repeat;
    background-position: center;
    transition: background-color .3s ease-in-out, border-color .3s ease-in-out;
}

.project__button-prev:focus {
    border-color: var(--color-primary);
}

.project__button-prev:hover {
    border-color: transparent;
    background-color: var(--color-primary-light);
}

.project__button-prev:active {
    border-color: var(--color-primary);
    background-color: var(--color-primary-light);
}

.contact {
    border-top: 1px solid var(--color-grey-light);
}

.contact__container {
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
}

.contact__form-title {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: var(--color-grey-dark);
}

.contact__form {
    display: flex;
    align-items: center;
}

.contact__group {
    display: inline-block;
    width: 45%;
    margin-right: 20px;
}

.contact__form-adress {
    margin-right: 80px;
}



.contact__input {
    width: 100%;
    padding: 9px 24px;
    padding-right: 60px;
    border-radius: 40px;
    border: 1px solid var(--color-grey-dark);
    transition: background-color .3s ease-in-out;
}

.contact__input:hover {
    background-color: #eaeaea;
}

.contact__btn {
    padding: 11px 35px;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    border-radius: 40px;
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
}

.contact__label {
    position: relative;
}

.js-validate-error-label {
    position: absolute;
    top: -40px;
    left: 15px;
    color: #FF5C00;
}

.contact__click {
    display: inline-block;
    margin-bottom: 9px;
    font-weight: 600;
    font-size: 24px;
    line-height: 25px;
    color: var(--color-grey-dark);
}

.contact__list-msg {
    display: flex;
}

.contact__msg-wrap {
    margin-left: 65px;
}

.contact__item-msg {
    width: 42px;
    height: 42px;
    margin-right: 20px;
}

.contact__link {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    transition: opacity .3s ease-in-out;
}

.contact__link:hover {
    opacity: 0.5;
}

.contact__link:active {
    opacity: 1;
}

.contact__svg-icon {
    border: 2px solid transparent;
    transition: border .2s ease-in-out;
}

.contact__svg-icon:active {
    border: 2px solid var(--color-primary);
    border-radius: 50%;
}

.contact__map {
    width: 100%;
    height: 700px;
}

[class*="ground-pane"] {
    filter: grayscale(1);
}

.footer {
    background-color: var(--color-dark);
}

.footer__container {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}

.footer__social-list {
    display: flex;
}

.footer__social-icon {
    width: 45px;
    height: 45px;
}

.footer__social-icon:not(:last-child) {
    margin-right: 20px;
}

.footer__social-link {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

.footer__social-link svg path {
    transition: fill .2s ease-in-out;
}

.footer__social-link:hover svg path {
    fill: var(--color-light);
}

.footer__social-link:active svg path {
    fill: var(--color-primary);
}



.footer__social-svg:hover {
    fill: #fff;
}

.footer__social-link--icon-vk {
    background-image: url('../img/vk.svg');
}

.footer__social-link--icon-insta {
    background-image: url('../img/instagram.svg');
}

.footer__social-link--icon-fb {
    background-image: url('../img/fb.svg');
}

